streamlit==1.45.0
python-dotenv==1.1.0

langchain==1.3.2
langchain-community==0.4.2
langchain-core==1.4.1
langchain-groq==1.1.2
langchain-openai==1.1.10
langchain-text-splitters==1.1.2

faiss-cpu==1.13.2

pymupdf==1.26.0
beautifulsoup4==4.13.4
lxml
requests
langchain-huggingface
sentence-transformers
